.Main-chat
  .Main-chat__Group-info
    .Main-chat__Group-info__Detail
      .Main-chat__Group-info__Detail__Group-name
        group
      .Main-chat__Group-info__Detail__member-box
        .Main-chat__Group-info__Detail__member-box__member
          member:
        .Main-chat__Group-info__Detail__member-box__list
          1,2,3,4,5,5
    = link_to "", class: "Main-chat__Group-info__Edit" do
      Edit
  .Main-chat__Message-list
  .Main-chat__Message-form
