.Side-bar
  .Side-bar__User-name
    .Side-bar__User-name__name-logo
      namae
    .Side-bar__User-name__Icons
      = link_to "index", class: "Side-bar__User-name__Icons--block" do
        = icon('far', 'edit', class: "Side-bar__User-name__Icons--block__logo")
      = link_to "index", class: "Side-bar__User-name__Icons--block" do
        = icon('fa', 'cog', class: "Side-bar__User-name__Icons--block__logo")

  
  .Side-bar__Group-list
    .Side-bar__Group-list__Text-box
      .Side-bar__Group-list__Text-box__Group-name
        group1
      .Side-bar__Group-list__Text-box__New-comment
        aaaa
    

  