@import "posts";
@import "reset";
@import "modules/messages";
@import "font-awesome-sprockets";
@import "font-awesome";


.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: yellow;
  .Side-bar{
    color: #ffffff;
    background-color: #253141;
    width: 300px;
    &__User-name{
      font-weight: bold;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 20px;
      &__Name-logo{
        font-size: 16px;
        display: block;
      }
      &__Icons{
        width: 60px;
        display: flex;
        justify-content: flex-end;
        &--block{
          margin: 0 0 0 5px;
          display: block;
          &__logo{
            display: block;
            color: #fff;
          }
        }
      }
    }
    &__Group-list{
      height: calc( 100% - 100px );
      background-color: #2f3e51;
      overflow:hidden;
      &__Text-box{
        margin: 20px 20px 40px 20px;
        &__Group-name{
          font-size: 15px;
        }
        &__New-comment{
          margin: 5px 0 0 0;
          font-size: 11px;
        }
      }
      
    }
  }
  .Main-chat{
    background-color: #ffffff;
    height: 100vh;
    width: calc( 100vw - 300px );
    &__Group-info{
      height: 100px;
      margin: 0 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__Detail{
        display: flex;
        flex-direction: column;
        &__Group-name{
          margin: 35px 0 0 0;
          color: #333333;
          font-size: 20px;
        }
        &__member-box{
          margin: 15px 0 0 0;
          display: flex;
          color: #999999;
          font-size: 12px;
        }
      }
      &__Edit{
        margin: 28px 0 0 0;
        height: 40px;
        width: 72px;
        border: 1px solid #38aef0;
        color: #38aef0;
        display: block;
        text-align: center;
        line-height: 40px;
      }
    }
    
    &__Message-list{
      height: calc( 100% - 190px );
      background-color: #fafafa;
      overflow:hidden;
      padding: 40px;
      &__Text-box{
        overflow:hidden;
        &__Comment{
          margin: 11px 0 35px 0;
          color: #3434A54;
          font-size: 14px;
        }
        &__Text-info{
          display: flex;
          font-size: 12px;
          &__User{
            color: #333333;
          }
          &__Date{
            color: #999999;
          }
        }
      }
    }
    &__Message-form{
      height: 90px;
      background-color: #d2d2d2;
      display: flex;
      align-items: center;
      &__Form{
        height: 50px;
        margin: 0 40px;
        width: calc( 100% - 80px );
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__Textbox{
          padding: 0 0 0 10px;
          height: 100%;
          width: calc( 100% - 75px );
          display: flex;
          background-color: white;
          overflow: hidden;
          &__Text{
            height: 100%;
            width: calc( 100% - 38px);
            border: none;
            color: #333333;
          }
          &__Icon{
            color: #333333;
            font-size: 28px;
            margin: 11px 0;
          } 
        }
        &__Send{
          display: block;
          height: 100%;
          width: 50px;
          text-align: center;
          line-height: 50px;
          border: 1px solid #38aef0;
          color: #38aef0;
        } 
      }

    }
  }
}


